{% extends 'base.html' %}
{% load i18n wagtailcore_tags wagtailimages_tags%}
{% load static %}

{% block content %}
{% include 'includes/page_title.html' %}


<section>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-12">
        <div class="section-title">
          <h2 class="title">{{page.body}} <h2>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-lg-8">
        <div class="contact-main white-bg shadow-sm p-5">
              <form id="contact-form" class="row" action="{% pageurl page %}" method="POST">
                <div class="form-group col-md-10">
                  {% csrf_token %}
                  {% for field in form %}
                    <label class="form-control" placeholder="{{ field.help_text }}" for="{{ field.id_for_label }}">{{ field.label }} </label>
                    {{ field }}
                  {% endfor %}
                </div>
                
                <div class="col-md-12 text-center mt-4">
                    <button type="submit" class="btn btn-theme">Send Message </button>
                </div>
              </form>
          </div>
      </div>
    <div class="col-lg-4 dark-bg">
        <div class="px-3 py-5 p-md-5 text-white">
            <div class="contact-media mb-4">
           {% with business_address=settings.base.GenericSiteContent.business_address business_phone=settings.base.GenericSiteContent.business_phone business_workhours=settings.base.GenericSiteContent.business_workhours business_email=settings.base.GenericSiteContent.business_email %}
                <h5 class="text-white">Find Office:</h5>
                {% if business_address or business_phone or business_workhours or business_email %}
                    {% if business_address %}     
                        <span>{{ business_address }}</span>
                    {% endif %}
        </div>
          <div class="contact-media mb-4">
            <h5 class="text-white">Contact Us:</h5>
            <ul class="list-unstyled">
                {% if business_phone %}
              <li class="mb-2">Phone: <a href="tel:{{ business_phone }}">{{ business_phone }}</a>
                {% endif %}
              </li>
                {% if business_email %}
              <li>Email: <a href="mailto:{{ business_email }}">{{ business_email }}</a>
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="contact-media mb-4">
            <h5 class="text-white">Working Hours:</h5>
                {% if business_workhours %}
            <span>{{ business_workhours }}</span>
                {% endif%}
            {% endif %}
        {% endwith %}   
          </div>
          <div class="social-icons">
        {% with whatsapp_url=settings.base.GenericSiteContent.whatsapp_url facebook_url=settings.base.GenericSiteContent.facebook_url twitter_url=settings.base.GenericSiteContent.twitter_url instagram_url=settings.base.GenericSiteContent.instagram_url linkedin_url=settings.base.GenericSiteContent.linkedin_url %}
            <ul class="list-inline">     
            {% if whatsapp_url or facebook_url or twitter_url or instagram_url or linkedin_url %}
                {% if facebook_url %}
                    <li><a href="{{ facebook_url}}"><i class="lab la-facebook-f"></i></a></li>
                {% endif%}
                {% if twitter_url %}
              <li><a href="{{ twitter_url }}"><i class="lab la-twitter"></i></a></li>
                {% endif %}
                {% if instagram_url %}
              <li><a href="{{ instagram_url }}"><i class="lab la-instagram"></i></a></li>
                {% endif %}
                {% if linkedin_url %}
              <li><a href="{{ linkedin_url }}"><i class="lab la-linkedin-in"></i></a></li>
                {% endif %}
                {% if whatsapp_url %}
              <li><a href="{{ whatsapp_url }}"><i class="lab la-whatsapp"></i></a></li>
                {% endif %}
            </ul>
            {% endif %}
        {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
<section class="p-0">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12">
        <div class="map">
          <iframe src="{{page.map_api}}" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
