$font-primary: 'Livvic', sans-serif;
$font-title: 'Barlow Condensed', sans-serif;

$primary: #2363d5;
$text-hover: #1c2431;
$text-dark: #1f2632;
$text-body: #454545;
$white: #ffffff;
$text-rgba: rgba(255, 255, 255, 0.8);


$border-primary:  #2363d5;
$border-light:  #e9eaed;

$bg-dark: #0a1426;
$bg-light: #f5f8fd;