{% load i18n wagtailcore_tags menu_tags modeladmin_tags%}
 
<ul class="navbar-nav ms-auto me-auto position-relative">
    {% for items in menu_items %}
     <button class="btn navbar-nav" onclick="location.href='{{items.href}}'">{{ items.text }}</p>
        {% if menu_item.has_submenu %}
            <ul class="dropdown-menu">
            {% for sub_menu_item in menu_item.submenu_items %}
                    <li class="{{ sub_menu_item.active_class }}"><a href="{{ sub_menu_item.href }}">{{ sub_menu_item.text }}</a></li>        
            {% endfor %}
            </ul>
        {% endif %}              
    </button>
        
    {% endfor %}
</ul>

