{% load static %}

<!--counter start-->
<section class="p-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="white-bg p-5 z-index-1">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="counter d-flex">
                <div class="counter-icon me-3"> <i class="flaticon-medical-laboratory-1"></i>
                </div>
                <div class="counter-desc"> <span class="count-number text-black" data-to="24" data-speed="2000">24</span>
                  <h6>Our Equipments</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-5 mt-sm-0">
              <div class="counter d-flex">
                <div class="counter-icon me-3"> <i class="flaticon-heathcare-and-medical"></i>
                </div>
                <div class="counter-desc"> <span class="count-number text-black" data-to="272" data-speed="2000">272</span>
                  <h6>Field Expertise</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-5 mt-lg-0">
              <div class="counter d-flex">
                <div class="counter-icon me-3"> <i class="flaticon-pharmacy"></i>
                </div>
                <div class="counter-desc"> <span class="count-number text-black" data-to="423" data-speed="2000">423</span>
                  <h6>Complete Cases</h6>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-5 mt-lg-0">
              <div class="counter d-flex">
                <div class="counter-icon me-3"> <i class="flaticon-award"></i>
                </div>
                <div class="counter-desc"> <span class="count-number text-black" data-to="576" data-speed="2000">576</span>
                  <h6>Awards Winning</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--counter end-->

<!--multi-sec start-->
<section class="p-0 mt-n6">
  <div class="container-fluid ps-0">
    <div class="row">
      <div class="col-lg-7 col-md-10 col-11">
        <div class="dark-bg p-lg-7 p-4 pb-10 custom-pt-1" data-bg-img="{% static 'images/pattern/02.png'%}">
          <div class="section-title ms-md-5">
            <h2 class="title">Section Reboot</h2> 
            <p class="lead text-light">We Provide All Aspects Of Medical Practice For Your Whole Family!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-10 col-12 ms-auto ps-0">
        <div class="position-relative overflow-hidden img-border mt-n15 custom-mt-0">
          <img class="img-fluid w-100" src="{% static 'images/about/02.jpg'%}" alt="">
          <div class="video-btn video-btn-pos"> <a class="play-btn popup-youtube mr-3" href="https://www.youtube.com/watch?v=P_wKDMcr1Tg"><i class="las la-play"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--multi-sec end-->
