{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

<!-- Title -->
<title>{% block title%}{{page.title}}{% endblock title%}</title>
<body>
{% block content %}
<!--page title start-->

<section class="page-title parallaxie" data-bg-img="{% static 'images/bg/01.jpeg'%}">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="white-bg p-md-5 p-3 d-inline-block">
        <h1 class="text-theme">{{page.title}} <span class="text-black"></span></h1>
        <nav aria-label="breadcrumb" class="page-breadcrumb border-top border-light pt-3 mt-3">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><i class="las la-home me-1"></i>Home</a>
            </li>
            <li class="breadcrumb-item"><a href="{{ page.get_parent.url }}">Blog</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
          </ol>
        </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<!--page title end-->


<!--body content start-->

<div class="page-content">

<!--blog start-->

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <!-- Blog Card -->

            <div class="card post-card border-0 rounded-0 bg-transparent">
            {% if page.gallery_images %}
              {% image page.gallery_images format-webp fill-1200x800 as img %}
                <img class="card-img-top" src="{{img.url}}" style="float: center" > 
            {% else %}
                <img class="card-img-top" src="{% static 'images/blog/blog.png' fill-1200x500 %}">
            {% endif %}
          <div class="card-body px-4 pb-4 pt-0">
            <div class="mt-n3">
              <div class="d-inline-block white-bg px-2 py-1 text-black box-shadow">{{page.date_published}}</div>
            </div>
            <h2 class="h4 my-3">{{ page.intro }}</h2>
            <ul class="list-inline mb-0 border-top border-bottom border-light py-2 mb-4">
              <li class="list-inline-item"> <a href="#" class="text-black"><i class="lar la-user-circle me-1"></i> {{page.author}}</a></li>
              <!--<li class="list-inline-item"> <a href="#" class="text-black"><i class="las la-eye me-1"></i> 275</a></li>
              <li class="list-inline-item"> <a href="#" class="text-black"><i class="lar la-comments me-1"></i> 300</a></li>-->
            </ul>
          </div>
          </div>
         
          <p>{{page.body}}</p>

          <div class="d-md-flex justify-content-between">
            <div class="d-flex align-items-center">
              <h6 class="mb-0 me-4">Share It:</h6>
              <div class="social-icons">
               {% with facebook_url=settings.base.GenericSiteContent.facebook_url twitter_url=settings.base.GenericSiteContent.twitter_url instagram_url=settings.base.GenericSiteContent.instagram_url linkedin_url=settings.base.GenericSiteContent.linkedin_url %}
                <ul class="list-inline mb-0">
                {% if twitter_url or facebook_url or instagram_url or linkedin_url %}
                  {% if facebook_url %}
                  <li><a href="{{facebook_url}}"><i class="la la-facebook"></i></a></li>
                  {% endif %}
                  {% if instagram_url %}
                  <li><a href="{{ instagram_url }}"><i class="la la-instagram"></i></a></li>
                  {% endif %}
                  {% if twitter_url %}
                  <li><a href="{{ twitter_url}}"><i class="la la-twitter"></i></a></li>
                  {% endif %}
                  {% if linkedin_url %}
                  <li><a href="{{linkedin_url}}"><i class="la la-linkedin"></i></a></li>
                  {% endif %}
                {% endif %}
                </ul>
              {% endwith %}
              </div>
            </div>
            <div class="d-flex align-items-center text-md-end mt-5 mt-md-0">
              {% with tags=page.tags.all %}
              <h6 class="mb-0 me-4">Tags: </h6>
               
                {% if tags %}
                <ul class="list-inline mb-0 widget-tags">
                {% for tag in tags %}
                <li class="list-inline-item"><a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a></li>
                {% endfor %}
              {% endif %}
            {% endwith %}
              </ul>
            </div>
          </div>
   
      </div>
    </div>
  </div>
</section>

<!--blog end-->

</div>

<!--body content end--> 



</div>

<!-- page wrapper end -->



</body>

</html>
{% endblock %} 