
<!--multi-sec start-->

<section class="p-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="section-title mb-4">
          <h2 class="title">We’re Setting the New Standards in Laboratory &amp; Research Professional.</h2> 
        </div>
        <div class="ht-progress-bar mb-4">
          <h4>Environmental Testing</h4>
          <div class="progress" data-value="85">
            <div class="progress-bar">
              <div class="progress-parcent"><span>85</span>%</div>
            </div>
          </div>
        </div>
        <div class="ht-progress-bar mb-4">
          <h4>Immune system</h4>
          <div class="progress" data-value="75">
            <div class="progress-bar">
              <div class="progress-parcent"><span>75</span>%</div>
            </div>
          </div>
        </div>
        <div class="ht-progress-bar mb-4">
          <h4>Advanced Microscopy</h4>
          <div class="progress" data-value="95">
            <div class="progress-bar">
              <div class="progress-parcent"><span>95</span>%</div>
            </div>
          </div>
        </div>
        <div class="ht-progress-bar">
          <h4>Management</h4>
          <div class="progress" data-value="80">
            <div class="progress-bar">
              <div class="progress-parcent"><span>80</span>%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 ms-auto mt-5 mt-lg-0">
        <div class="accordion" id="accordion">
          <div class="accordion-item mb-4">
            <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Can we take a second opinion ?
      </button>
    </h2>
            <div id="collapseOne" class="accordion-collapse border-0 collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
              <div class="accordion-body">Discovered Many desktop publishing packages and web page editors now use Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</div>
            </div>
          </div>
          <div class="accordion-item mb-4">
            <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Is the treatment at Hospital is affordable ?
      </button>
    </h2>
            <div id="collapseTwo" class="accordion-collapse border-0 collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
              <div class="accordion-body">Discovered Many desktop publishing packages and web page editors now use Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</div>
            </div>
          </div>
          <div class="accordion-item mb-4">
            <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        which is the same as saying through ?
      </button>
    </h2>
            <div id="collapseThree" class="accordion-collapse border-0 collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
              <div class="accordion-body">Discovered Many desktop publishing packages and web page editors now use Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        When our power of choice Labortech ?
      </button>
    </h2>
            <div id="collapseFour" class="accordion-collapse border-0 collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
              <div class="accordion-body">Discovered Many desktop publishing packages and web page editors now use Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--multi-sec end-->