
<!--testimonial start-->

<section class="p-0">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-md-4" data-bg-img="images/about/05.jpg"></div>
      <div class="col-md-8 theme-bg py-5 px-lg-8 px-5">
        <div class="owl-carousel no-pb" data-dots="false" data-items="1" data-autoplay="true" data-autoplay-timeout="8000">
          <div class="item">
            <div class="testimonial text-center">
              <div class="testimonial-img mb-2">
                <img class="img-fluid rounded-circle shadow-sm d-inline-block" src="images/testimonial/01.jpg" alt="">
              </div>
              <div class="testimonial-content">
                <div class="testimonial-caption mb-3">
                  <h5 class="text-white">Andrew Rooney</h5>
                  <label class="fst-italic d-block text-light">-Supervisor</label>
                </div>
                <p class="fst-italic text-light">Labortech great place to work because of the opportunities for moving between centres and trying something new within your area of expertise. The laboratory is also an open and flexible workplace & great place to work with.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial text-center">
              <div class="testimonial-img mb-2">
                <img class="img-fluid rounded-circle shadow-sm d-inline-block" src="images/testimonial/01.jpg" alt="">
              </div>
              <div class="testimonial-content">
                <div class="testimonial-caption mb-3">
                  <h5 class="text-white">Andrew Rooney</h5>
                  <label class="fst-italic d-block text-light">-Supervisor</label>
                </div>
                <p class="fst-italic text-light">Labortech great place to work because of the opportunities for moving between centres and trying something new within your area of expertise. The laboratory is also an open and flexible workplace & great place to work with.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--testimonial end-->
